.main {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  align-items: stretch;
}

.card-menu {
  width: 200px;
  padding: 20px;
}

.card-menu > select {
  padding: 10px 2px;
  margin-left: 12px;
  width: 100px;
}

.card-menu .months {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 5px;
  justify-content: space-around;
}

.card-menu .months > div {
  border: 1px solid #999999;
  padding: 5px 10px;
  margin-top: 5px;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.card-menu .months .selected {
  color: #ffffff;
  background-color: #d2691e;
}

.time-card {
  width:100%;
}

.time-card .title {
  display: flex;
  width: 100%;
  background-color: #ffffff;
  justify-content: space-around;
  padding: 5px 0;
  border-bottom: 1px solid #999999;
}

.time-card .title > div {
  flex-grow: 1
}

.time-card .calendar .week {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.time-card .calendar .week .day {
  flex-grow: 1;
  margin: 5px;
  height: 110px;
  border: 1px solid #999999;
  font-size: 12px;
}

.time-card .calendar .week .holiday {
  background: #99EA5F;
}

.time-card .calendar .week .opacity {
  opacity: 0.5;
}

.time-card .calendar .week .day .event-title {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.time-card .calendar .week .day .event-title > span:last-child {
  background: #56B265;
}

.time-card .calendar .week .day .event-list {
  padding: 0 10px;
  height: 45%;
}
.time-card .calendar .week .day .event-day {
  padding: 0 10px;
  text-align: end;
}
.time-card .calendar .week .day .event-day-holiday {
  color: #CE8F98;
}