.main {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  align-items: stretch;
}

.card-menu {
  width: 200px;
  padding: 20px;
}

.card-menu > select {
  padding: 10px 2px;
  margin-left: 12px;
  width: 100px;
}

.card-menu .months {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 5px;
  justify-content: space-around;
}

.card-menu .months > div {
  border: 1px solid #999999;
  padding: 5px 10px;
  margin-top: 5px;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.card-menu .months .selected {
  color: #ffffff;
  background-color: #d2691e;
}

.time-card {
  width:100%;
}

.time-card .title {
  display: flex;
  width: 100%;
  background-color: #ffffff;
  justify-content: space-around;
  padding: 5px 0;
  border-bottom: 1px solid #999999;
}

.time-card .title > div {
  flex-grow: 1
}

.time-card .calendar .week {
  padding: 5px 0;
  width: 100%;
}